.profile-dropdown {
  position: absolute;
  top: 80%;
  left:85%;
  list-style:none;
  background-color:#3c3c3c ;
  height:200px;
  width:200px;
 
  
}

.hidden {
  display: none;
}

.fa-user-circle{
  color:black;
  cursor: pointer;
}
